doctype HTML
head
	title Expert CSS Demonstration
	include ./head.pug
body
	h1 Lets do this
	p.
		Spicy jalapeno bacon #[span ipsum dolor amet corned beef ham hock sirloin pork belly] pancetta, picanha bresaola leberkas jowl ground round tenderloin biltong hamburger short ribs fatback. Landjaeger fatback filet mignon tail jerky jowl t-bone biltong pork loin porchetta ribeye tenderloin ham hock shank capicola. Flank swine pork boudin meatball, venison shankle brisket short loin ribeye. Turkey tenderloin kevin, capicola strip steak turducken porchetta jowl short ribs spare ribs. Short loin boudin capicola corned beef bacon meatball. Cow corned beef ball tip rump ribeye. Boudin porchetta rump beef corned beef, andouille kevin capicola pig turducken short loin drumstick strip steak short ribs.
