doctype html
head
	title Tic Tac Toe
	include ./head.pug
body
	h1 Tic-Tac-Toe

	p.
		create a table with 3 rows and 3 columns
		give each box a width and height of 100px

	div
		table: .table
			tr: .topRow
				td: ._11
				td: ._12
				td: ._13
			tr: .middleRow
				td: ._21
				td: ._22
				td: ._23
			tr: .bottomRow
				td: ._31
				td: ._32
				td: ._33